ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

  # /oft-bash-function-for-opening-a-specific-filetype

  # /otask-cli-for-omnifocus

  # /web-excursions-june-28-2011-june-30-2011

  # /web-excursions-june-15-2011-june-23-2011

  # /a-bash-function-for-markdown-bloggers

  # /thanks-wwdc

  # /web-excursions-june-6-2011-june-8-2011

  # /quick-tip-fixing-the-other-account-mac-app-store-issue

  # /taking-the-markdown-to-evernote-service-further

  # /web-excursions-may-24-2011-may-31-2011

  # /quick-link-terminal-navigation-utilities

  # /web-excursions-may-16-2011-may-23-2011

  # /quick-tip-clean-up-your-multimarkdown-tables

  # /the-mac-and-ios-mind-mapping-app-extravaganza

  # /quick-tip-throttling-parallel-batch-processes-in-terminal

  # /nvalt-2-1-progress-report

  # /web-excursions-may-4-2011-may-16-2011

  # /a-cheat-sheet-for-app-store-pricing

  # /duplicating-safari-browsing-sessions-between-macs

  # /web-excursions-may-1-2011

  # /web-excursions-april-26-may-1

  # /automated-html5-video-encoding-revisited

  # /web-excursions-april-20-april-24

  # /a-couple-of-textmate-macros-for-markdown-lists

  # /markdown-quicktags-makes-1000-people-happier-and-more-attractive

  # /bored-with-your-macvim-icon-me-too

  # /web-excursions-april-13-april-19

  # /web-excursions-april-9-april-13

  # /another-pit-bull-proves-her-good-citizenship

  # /address-book-search-and-skype-from-the-command-line

  # /web-excursions-april-3-april-9

  # /nvalt-2-0-its-here

  # /web-excursions-april-2-april-3

  # /autotag2-smarter-tagging-for-textmate-and-wordpress

  # /web-excursions-march-29-april-2

  # /mirror-your-pinboard-bookmarks-with-openmeta-tags

  # /web-excursions-march-28

  # /web-excursions-march-26-march-27

  # /make-cssedit-use-the-latest-webkit-nightly-every-time

  # /web-excursions-march-20-march-25

  # /automating-html5-video-encodes

  # /new-textexpander-downloads-with-custom-prefixes

  # /additional-characters-for-textexpander

  # /web-excursions-march-12-march-20

  # /filesystem-navigation-with-textexpander

  # /textmate-as-writeroom-for-free

  # /the-one-monitor-experiment

  # /pinboard-redesign-experiment

  # /web-excursions-march-7-march-12

  # /project-status-report-march-2011

  # /web-excursions-march-3-march-7

  # /watch-for-file-changes-and-refresh-your-browser-automatically

  # /grabbing-a-mac-apps-icon-building-blocks

  # /grabbing-a-mac-apps-icon-automator-style

  # /grabbing-a-mac-apps-icon-advanced-bash-usage-2

  # /web-excursions-february-24-march-2

  # /dynamic-placeholder-images-now-with-kittens

  # /nvalt-1-0-8-progress-and-status

  # /web-excursions-february-22-february-23

  # /web-excursions-february-19-february-22

  # /on-sorting-tagging-and-other-nerdery

  # /natural-language-date-conversion-for-textmate

  # /my-desktop-february-2011

  # /imagemagick-and-geektool-or-nerdtool

  # /wordpress-custom-taxonomy-and-xml-rpc

  # /web-excursions-february-8-february-19

  # /markdown-in-screensteps

  # /markdown-snippets-for-textexpander-on-ios

  # /meet-marky-the-markdownifier

  # /quick-tip-running-nvalt-after-a-notational-velocity-update

  # /web-excursions-february-5-february-7

  # /dammit-again-with-the-lipsum

  # /textexpander-lipsum-with-kwisatz-haderach

  # /yes-its-real

  # /launchbar-actions-for-url-encoding-and-decoding

  # /web-excursions-february-1-february-2

  # /textexpander-lipsum-followup-with-ice-cream

  # /quick-calculations-in-bash

  # /web-excursions-january-30-february-1

  # /random-lipsum-for-textexpander

  # /notational-velocity-update-breaks-nvalt

  # /web-excursions-january-20-january-28

  # /on-my-way-to-macworld-11

  # /quick-tip-multi-browser-hotkey-with-choosy

  # /the-warmest-fuzziest-scary-thought

  # /quick-tip-applescript-application-toggle

  # /pescatarianism-and-changing-views

  # /web-excursions-january-15-january-20

  # /nvalt-1-0-8-progress

  # /web-excursions-january-13-january-15

  # /nvalt-1-0-7

  # /web-excursions-january-4-january-13

  # /homeward-eventually

  # /home-from-punta-cana

  # /miami-dallas-and-home

  # /web-excursions-january-3-january-4

  # /pinboard-links-with-instapaper-text

  # /i-adore-pinboard

  # /web-excursions-december-31-january-2
